// Use this file as a starting point for your project's .eslintrc.
// Copy this file, and add rule overrides as needed.
{
  //"extends": "airbnb",
  "indent": 4,
  "prefer-const" : false,
  "env": {
    "es6": true,
    "browser": false,
    "node": true
  }
}